body {
  margin: 0;
  font-family: "Courier New", monospace, source-code-pro, Menlo, Monaco,
    Consolas;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(245, 123, 177);
  background: linear-gradient(
    90deg,
    rgba(245, 123, 177, 1) 0%,
    rgba(122, 163, 214, 1) 100%
  );
}
